/* ABOUT.CSS */
/***********************************************************
  by Kendra Wainscott 2022 
  project:  Pride Hoof Care

    Seconday style sheet, used only for ABOUT page 
    
    This style sheet is organized by major section alphabetically, 
    with relevant media queries at the end of each section.
/***********************************************************/
.hide-on-mobile-h1 {
  margin: 7rem 0 0 0;
}

.grid-about {
  display: grid;
  margin: 2rem 2rem; /**/
  position: relative;
  gap: 1rem 2rem;
  align-items: center;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}
img {
  max-width: 90%;
  border-radius: 25%;
  border: 0.5rem double lightgray;
}
nav {
  z-index: 3;
}
p {
  line-height: 1.5rem;
}
p::first-letter {
  font-size: 1.5rem;
}
@media only screen and (max-width: 550px) {
  .grid-about {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }
  .hide-mobile {
    display: none;
  }
}
/* Turn off universal 'low content fill space' for x-long screens */
@media only screen and (min-height: 1000px) {
  .hide-on-mobile-h1 {
    display: inline-block;
  }
  nav {
    position: fixed;
  }
  .nav-label-mobile {
    display: none;
  }
}

/* Turn off 'low content fill space' mobile styles 
@media only screen and (max-width: 525px) {
  header {
    margin: 11rem 0 0 0;
  }
  footer {
    position: relative;
    padding: 0;
  }
}*/
