/* TESTIMONIALS.CSS */
/***********************************************************
  by Kendra Wainscott 2022 
  project:  Pride Hoof Care

    Seconday style sheet, used only for TESTIMONIALS page 
    
    This style sheet is organized by major section and 
    then alphabetically, with relevant media queries at 
    the end of each section.
/***********************************************************/
blockquote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 3rem;
  border-left: 0.5rem double lightgray;
  background-color: antiquewhite;
}
.grid {
  /** grid of quotes **/
  display: grid;
  margin: 2rem 2rem;
  position: relative;
  gap: 2rem;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}
main {
  z-index: 2;
}
nav {
  z-index: 1;
}
span {
  display: flex;
  text-align: left;
}
.quote-open {
  font-size: 3.5rem;
  line-height: 0px;
  display: inline;
  float: left;
}
.quote-close {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.quote-line {
  line-height: 2rem;
}
@media only screen and (max-width: 480px) {
  .grid {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  }
}
