* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: Verdana, Helvetica, sans-serif;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
body {
  color: rgb(121, 121, 121);
  background-color: black;
}
/********************************************************/
/****** HEADER ******************************************/
nav {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 0.3rem solid lightgray;
  background-color: black;
}
.nav-bar {
  display: flex;
}
.nav-pages {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;

  list-style-type: none;
}
.nav-link {
  color: whitesmoke;
}
.kw-logo {
  border-radius: 50%;
  max-height: 5rem;
}
/********************************************************/
/******* JUMBO ****************************/
.jumbotron {
  margin-top: 5rem;
  width: 100%;
  /*border-radius: 5%;*/
  background-color: whitesmoke;
}
/*
@media only screen and (max-width: 480px) {
  .jumbotron {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .jumbotron {
    margin-top: 5%;
  }
}*/
*/
/*********** PROJECTS GRID ************/
fig {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
figcaption h2 {
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 0.5rem;
  color: lightgray;
}
#grid-projects {
  display: grid;
  margin: 0 2%;
  gap: 1rem 2rem;
  align-items: center;
  justify-content: center;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
}
.project-img {
  border-radius: 50%;
  border: 0.3rem double rgba(211, 211, 211, 0.234);
  max-width: 100%;
  max-height: 100%;
}
.project-img:hover,
.project-img:active {
  border: 0.3rem double rgba(211, 211, 211, 0.86);
}
@media only screen and (max-width: 480px) {
  #grid-projects {
    margin: 0 2rem;
    grid-template: repeat(3, 1fr) / repeat(1, 1fr);
  }
}
/******************************************************************/
/*********** FOOOTER **********************************************/
footer {
  margin-top: 5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

/**************************************************/
.social-media {
  display: flex;
  justify-content: center;
}
.fa-instagram,
.fa-tiktok {
  font-size: 2.25rem;
  margin-left: 0.75rem;
  text-decoration: none;
  color: darkgray;
}
.fa-instagram:hover,
.fa-tiktok:hover {
  color: rgb(128, 128, 128);
}
