/** STYLES.CSS **/
/***********************************************************
  by Kendra Wainscott 2022 
  project:  TEMP pump panel

    This style sheet is organized by major section and 
    then alphabetically, with relevant media queries at 
    the end of each section.
/***********************************************************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
@media only screen and (max-width: 300px) {
  html {
    font-size: 8px;
  }
}
@media only screen and (max-width: 580px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 800px) {
  html {
    font-size: 16px;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Arial, Sans-Serif;
  background-color: black;
}
/*********** HEADER  *******************************/
header h1 {
  margin: 3rem 0 2rem 0;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.2rem;
  color: mistyrose;
  opacity: 0.3;
}
@media only screen and (max-width: 480px) {
  header h1 {
    margin: 5rem 3rem 0 3rem;
  }
}
@media only screen and (min-width: 600px) {
  header h1 {
    font-size: 3rem;
  }
}

/*********** MAIN  **********************************/
.btn {
  cursor: pointer;
  margin: 0.5rem 0 3rem 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.4rem;
  /*font-weight: 500;*/
  line-height: 2rem;
  color: mistyrose;
  background-color: rgba(255, 68, 0, 0.629);
  border-radius: 0.5rem;
  border-width: 0 0.1rem 0.2rem 0;
  border-color: rgba(0, 0, 0, 0.527);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}
.btn:hover {
  color: rgb(172, 171, 171);
  background-color: rgba(139, 42, 6, 0.629);
}
@media only screen and (max-width: 600px) {
  .btn {
    margin: 0.5rem 0 0 0;
    padding: 1.25rem 1.25rem;
    font-size: 2.25rem;
    border-radius: 0.8rem;
    border-width: 0 0.3rem 0.4rem 0;
  }
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gov {
  margin: 1rem 0 0 0;
  font-size: 1rem;
  text-align: center;
  color: mistyrose;
  opacity: 0.3;
}
@media only screen and (max-width: 600px) {
  .gov {
    margin: 5rem 0 0 0;
    font-size: 1.5rem;
  }
}
.neon-contain {
  margin: 0 1rem;
  min-height: 350px;
  background-color: black;
  background-image: linear-gradient(#62000033, black), url("pump_images/maltese-cross-generic.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.neonwall {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.neonwall h1 {
  font-family: "Open Sans", Arial, Sans-Serif;
  position: relative;
  z-index: 100;
  font-size: 3.5rem;
  font-weight: 700;
  color: mistyrose;
  padding: 5% 6%;
  border: 5px solid lightyellow;
  border-radius: 15px;
  animation: flicker 1.5s infinite alternate;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -3px -0 25px red, 3px 0px 3px white, 0px 0px 15px white, 15px 10px 10px black,
      0 0 40px orangered, 0 0 40px orangered, 0 0 60px orangered, 0 0 80px orangered,
      0 0 80px orangered, 0 0 100px orangered, 0 0 150px orangered;

    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.6), 0 0 7px yellow, inset 0 0 7px yellow,
      0 0 20px lightyellow, inset 0 0 20px lightyellow, 0 0 40px lightyellow,
      inset 0 0 60px lightyellow;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}
/*********** FOOOTER ******************************/
footer {
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: mistyrose;
  opacity: 0.3;
}
