/** STYLES.CSS **/
/***********************************************************
  by Kendra Wainscott 2022 
  project:  Pride Hoof Care

    Primary style sheet, used for the landing page  
    and inherited by subsequent local pages 
    
    This style sheet is organized by major section and 
    then alphabetically, with relevant media queries at 
    the end of each section.
/***********************************************************/

/************ UNIVERSAL ************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}
/************ BODY ******************************************/
body {
  position: relative;
  text-align: center;
  font-family: Verdana, Helvetica, sans-serif;
  color: rgb(121, 121, 121);
  background-color: whitesmoke;
}
h1,
h2 {
  font-family: "Expletus Sans", Verdana, Helvetica, sans-serif;
}
h3,
h4,
h5 {
  font-weight: 500;
}
.fill-space {
  /* wraps all */
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
.flex-even {
  /* wraps main & foot */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: whitesmoke;
}
@media only screen and (max-width: 525px) {
  .fill-space {
    justify-content: flex-start;
  }
  .flex-even {
  }
}
/********************************************************************/
/******  NAV   ******************************************************/
#current-tab {
  color: rgb(70, 70, 70);
  border: 0.3rem double rgb(70, 70, 70);
  background-color: rgba(169, 169, 169, 0.2);
  opacity: 1;
}
.fa-instagram,
.fa-tiktok {
  margin: 0 0.2rem;
  font-size: 2.25rem;
  text-decoration: none;
  color: darkgray;
}
.fa-instagram:hover,
.fa-tiktok:hover {
  color: rgb(181, 12, 12);
}
.fa-social-media {
  display: flex;
  justify-content: space-between;
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 0.25rem double lightgray;
  background-color: antiquewhite;
}
.nav {
  padding: 0.7rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-label-mobile {
  margin: 3rem 0 2rem 0;
  display: none;
  filter: opacity(0.3);
}
.nav-options {
  padding: 0.5rem 1rem;
  border: 0.3rem double rgba(169, 169, 169, 0.3);
  border-radius: 0.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  color: gray;
}
.nav-options:hover,
.nav-options:active {
  border: 0.3rem double rgba(169, 169, 169, 1);
  opacity: 0.8;
  background-color: rgba(169, 169, 169, 0.2);
}
@media only screen and (max-width: 360px) {
  .nav-options {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 481px) {
  .fa-instagram,
  .fa-tiktok {
    margin: 0 1rem;
  }
}
@media only screen and (max-width: 525px) {
  nav {
    position: relative;
    /*padding: 3rem 0 0 0;*/
  }
  .nav-label-mobile {
    display: inline-block;
    filter: opacity(0.3);
  }
}
@media only screen and (min-width: 600px) {
  .nav-options {
    margin: 0 0.7rem;
    padding: 0.5rem 1rem;
  }
}
/* for low content pages && x-long screens */
@media only screen and (min-height: 1000px) {
  .hide-on-mobile-h1 {
    display: none;
  }
  nav {
    position: relative;
  }
  .nav-label-mobile {
    display: inline-block;
    filter: opacity(0.3);
  }
}
/**********************************************************************/
/******  HEADER   *****************************************************/
h1 {
  font-size: 3.5rem;
}
header {
  margin: 7rem 0 3rem 0;
}
.hide-on-mobile-h1 {
  filter: opacity(0.3);
}
@media only screen and (max-width: 525px) {
  header {
    margin: 3rem 0 3rem 0;
  }
  .hide-on-mobile-h1 {
    display: none;
  }
}
/********************************************************************/
/******  MAIN    ****************************************************/
.anvil {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.32), 0 6px 20px 0 rgba(0, 0, 0, 0.372);
}
.aside-info {
  text-align: center;
}
figcaption {
  margin: 0.4rem;
  padding: 0 1rem 0 0;
  text-align: end;
}
main {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main h2 {
  margin: 2rem 0 0.5rem 0;
  font-size: 2rem;
}
main h3 {
  font-size: 1.25rem;
}
@media only screen and (max-width: 480px) {
  figure {
    margin: 0rem 2rem;
  }
}
@media only screen and (max-width: 800px) {
  figure {
    margin: 0rem 3rem;
  }
}

/********************************************************************/
/****** FOOTETR ****************************************************/
footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  border-top: 0.25rem double lightgray;
  background-color: antiquewhite;
}
footer h4 {
  text-align: center;
  margin: 0.5rem;
}
.fa-phone,
.fa-envelope {
  font-size: 1rem;
}
@media only screen and (max-width: 525px) {
  footer {
    /*position: absolute;
    bottom: 0;
    padding: 0 0 5rem 0;*/
  }
}
/********************************************************************/
/********************************************************************/
