/** STYLES.CSS **/
/***********************************************************
  by Kendra Wainscott 2022 
  project:  Pride Hoof Care

    Primary style sheet, used for the landing page  
    and inherited by subsequent local pages 
    
    This style sheet is organized by major section and 
    then alphabetically, with relevant media queries at 
    the end of each section.
/***********************************************************/

/************ UNIVERSAL ************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: inline-block;
}
html {
  font-size: 14px;
  font-family: Verdana, Helvetica, sans-serif;
  color: rgb(121, 121, 121);
  background-color: whitesmoke;
}
h1,
h2 {
  font-family: "Expletus Sans", Verdana, Helvetica, sans-serif;
}
h3,
h4,
h5 {
  font-weight: 500;
}
@media only screen and (max-width: 300px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  body {
    min-height: 500px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/*@media only screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}*/
/********************************************************************/
/****** HEADER ******************************************************/
.fa-instagram,
.fa-tiktok {
  margin: 0 0.2rem;
  font-size: 2.25rem;
  text-decoration: none;
  color: darkgray;
}
.fa-instagram:hover,
.fa-tiktok:hover {
  color: rgb(128, 128, 128);
}
.fa-social-media {
  display: flex;
  justify-content: space-evenly;
}
.h-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.h-container h1 {
  font-size: 3rem;
  line-height: 5rem;
}
.h-container h2 {
  line-height: 2rem;
}
.h-container h3 {
  margin: 2rem 0;
  line-height: 2rem;
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 0.25rem double lightgray;
  background-color: antiquewhite;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-links-container {
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}
.nav-options {
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border: 0.3rem double rgba(169, 169, 169, 0.3);
  border-radius: 0.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  color: gray;
}
.nav-options:hover {
  border: 0.3rem double rgba(169, 169, 169, 1);
  opacity: 0.8;
  background-color: rgba(169, 169, 169, 0.2);
}
@media only screen and (max-width: 360px) {
  .h-container {
    padding-top: 28%;
  }
  .nav-links-container {
    padding: 1rem 0.1rem;
    justify-content: space-evenly;
  }
  .nav-options {
    margin: 0.2rem 0.2rem;
    padding: 0.5rem 0.1rem;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 361px) {
  .h-container {
    padding-top: 20%;
  }
  .nav-links-container {
    padding: 1rem 0.25rem;
  }
  .nav-options {
    font-size: 1rem;
    padding: 0.5rem 0.4rem;
    margin: 0 0.25rem;
  }
}
@media only screen and (min-width: 400px) {
  .nav-options {
    margin: 0 0.4rem;
    padding: 0.5rem 0.4rem;
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 481px) {
  .fa-instagram,
  .fa-tiktok {
    margin: 0 1rem;
  }
  .h-container {
    padding-top: 15%;
  }
  .nav {
    margin: 0 1rem;
    justify-content: space-between;
  }
  .nav-options {
    padding: 0.25rem 0.2rem;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 600px) {
  .h-container {
    padding-top: 12%;
  }
  .nav {
    margin: 0 1rem;
  }
  .nav-options {
    margin: 0 0.7rem;
    padding: 0.5rem 1rem;
  }
}
@media only screen and (min-width: 800px) {
  .h-container {
    padding-top: 9%;
  }
  .h-container h3 {
    margin: 1rem 0;
    line-height: 2rem;
  }
}

/********************************************************************/
/******  MAIN    ****************************************************/
.anvil {
  max-width: 100%;
  height: auto;
  border-radius: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.32), 0 6px 20px 0 rgba(0, 0, 0, 0.372);
}
.aside-info {
  text-align: center;
}
figcaption {
  margin: 0.4rem;
  padding: 0 1rem 0 0;
  text-align: end;
}
main {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main h2 {
  margin: 1rem;
  font-size: 2rem;
}
main h3 {
  font-size: 1.25rem;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  figure {
    margin: 2rem 2rem;
  }
}
@media only screen and (min-width: 481px) {
  figure {
    margin: 3rem 3rem 2rem 3rem;
  }
}
@media only screen and (min-width: 600px) {
  figure {
    margin: 1rem 5rem;
  }
}
@media only screen and (min-width: 800px) {
  figure {
    margin: 1rem 15rem;
  }
}
/********************************************************************/
/****** FOOTETR ****************************************************/
footer {
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0.25rem double lightgray;
  background-color: antiquewhite;
}
footer h4 {
  text-align: center;
  margin: 0.5rem;
}
.fa-phone,
.fa-envelope {
  font-size: 1rem;
}
@media only screen and (max-width: 480px) {
  footer {
    margin-top: 3%;
    font-size: 11px;
  }
}

/********************************************************************/
/********************************************************************/
