/****  by Kendra Wainscott 2022  ****************************/
/****  for "PROJECTS" section of portfolio landing page *****/
/************************************************************/
@import url(https://fonts.googleapis.com/css?family=Oswald);
main {
  padding: 5rem 0 0 0;
  background-color: #ffff;
}
#grid-projects {
  margin-top: 5rem;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
}
@media only screen and (max-width: 900px) {
  #grid-projects {
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
  }
}
@media only screen and (max-width: 650px) {
  #grid-projects {
    grid-template: repeat(6, 1fr) / repeat(1, 1fr);
  }
}
section {
  padding: 3rem 0;
  background-color: black;
}
.ghost {
  padding: 1rem 0;
  text-shadow: 5px 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  letter-spacing: 1rem;
}
.ghost,
.ghostly {
  font: bold 4rem "Oswald", "Helvetica", "sans-serif";
  text-align: center;
  color: #ffff;
}
.ghostly {
  padding: 2rem 0;
  background-color: #ffff;
}
@media only screen and (max-width: 650px) {
  .ghost {
    letter-spacing: 0.5rem;
    font-size: 3rem;
  }
  .ghostly {
    font-size: 2.7rem;
  }
}
.ghostly span {
  display: inline-block;
  animation: fade 5s ease-in-out infinite;
  @for $i from 1 through 7 {
    &:nth-child(#{$i}) {
      animation-delay: 0.25s + 0.25 * $i;
    }
  }
}
@keyframes fade {
  0% {
    transform: translate(-40%, 0);
  }
  50% {
    text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  100% {
    transform: translate(40%, 0);
  }
}
